In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
list_csv = list(filter(lambda f: f.endswith('.csv'), os.listdir()))

In [3]:
Driver_Profile_Data = pd.read_csv("01a_Driver_Profile_Data.csv")
#Driver_Lifetime_Trips = pd.read_csv("02_Driver_Lifetime_Trips.csv")
Driver_Online_Offline = pd.read_csv("10_Driver_Online_Offline.csv")
#Driver_Dispatches_Offeredand_Accepted = pd.read_csv("14_Driver_Dispatches_Offeredand_Accepted.csv")
Driver_Trip_Status = pd.read_csv("16_Driver_Trip_Status.csv")
Driver_Cancellations_From_Riders = pd.read_csv("17_Driver_Cancellations_From_Riders.csv")
Driver_Payments = pd.read_csv("19a_Driver_Payments.csv")

# 01- Driver account profile information


Driver_Profile_Data.csv contiennent les informations de base sur le profil compte conducteur.

In [5]:
Driver_Profile_Data.head()

,firstname,lastname,email,is_uber_email,mobile_country_code,contact_number,is_partner,is_polymorphed,is_fleet_active,is_subscribed_sms,...,first_eats_completed_trip_timestamp,first_role,partner_fleet_type,preferred_name,primary_role,secondary_role,tertiary_role,is_fleet_driver,signup_country_id,first_rides_completed_trip_timestamp
0,El Mahdi,Kardaoui,elm.kar85@outlook.com,False,33,616627080,False,False,False,True,...,NaN,partner,NaN,El Mahdi,driver,NaN,NaN,True,61,2020-08-22T20:20:27.000Z

In [4]:
Driver_Profile_Data.shape

(1, 46)

# 02 Driver lifetime trip data


02_Driver_Lifetime_Trips.csv : Ce document fournit des informations sur le nombre total de voyages.

In [66]:
Driver_Lifetime_Trips = pd.read_csv("02_Driver_Lifetime_Trips.csv")

In [67]:
driver_lifetime = Driver_Lifetime_Trips.copy()

In [68]:
driver_lifetime.shape

(2310, 88)

In [69]:
driver_lifetime.head()

,uuid,vehicle_uuid,city_id,currency_code,timezone,flow,source_tag,product_type_name,global_product_name,request_timestamp_local,...,long_distance_surcharge_usd,guaranteed_surge_multiplier,ufp_type,cancellation_type,carrier_mcc,carrier_mnc,is_directed_dispatch_trip,wait_duration_minutes,is_scheduled_trip,is_airport_trip
0,350df378-4497-42a0-9910-487ef5acd990,e18fa882-cf34-4c19-9bb0-cf4067022310,3,EUR,Europe/Paris,Black,NaN,uberX,UberX,2022-02-02T19:29:37.000Z,...,NaN,NaN,ufp_honored,NaN,208.0,20.0,False,NaN,False,False
1,3afbb3a4-412a-4f3d-a0f4-f9ba79641b44,e18fa882-cf34-4c19-9bb0-cf4067022310,3,EUR,Europe/Paris,Black,NaN,GREEN,UberX,2022-02-02T18:29:26.000Z,...,NaN,NaN,ufp_honored,NaN,270.0,77.0,False,NaN,False,False
2,1f04d2cb-0222-4f0a-bfaa-36fcde986262,e18fa882-cf34-4c19-9bb0-cf4067022310,3,EUR,Europe/Paris,Black,NaN,uberX,UberX,2022-02-02T14:21:19.000Z,...,NaN,NaN,ufp_not_honored,NaN,208.0,15.0,False,NaN,False,False
3,d3b1230c-7409-4e4e-bc29-5d1f6cc18dc1,e18fa882-cf34-4c19-9bb0-cf4067022310,3,EUR,Europe/Paris,Black,NaN,uberX,UberX,2022-01-31T17:30:04.000Z,...,NaN,NaN,ufp_honored,NaN,208.0,10.0,False,NaN,False,False
4,08ef1035-6141-46bd-9fa5-a51794e69d05,e18fa882-cf34-4c19-9bb0-cf4067022310,3,EUR,Europe/Paris,Black,NaN,GREEN,UberX,2022-01-31T16:30:40.000Z,...,NaN,NaN,ufp_not_honored,NaN,208.0,1.0,False,NaN,False,False

In [70]:
# Suppression des colones avec une seule valeurs

unique_counts = driver_lifetime.nunique(dropna=True)
unique_counts_nan = driver_lifetime.nunique(dropna=False)
columns_to_drop_unique = unique_counts[unique_counts == 1].index.append(unique_counts_nan[unique_counts_nan == 1].index)

In [63]:
columns_to_drop_unique

Index(['city_id', 'currency_code', 'timezone', 'flow', 'source_tag',
       'has_destination', 'is_pool_matched', 'is_flat_rate',
       'is_wait_time_eligible', 'rewindtrip_timestamp_local',
       'rewindtrip_timestamp_utc', 'rounding_down_amount_local',
       'rounding_down_amount_usd', 'concierge_source_type',
       'cancellation_type', 'is_directed_dispatch_trip', 'city_id',
       'currency_code', 'timezone', 'has_destination', 'is_pool_matched',
       'is_flat_rate', 'is_wait_time_eligible', 'service_fee_local',
       'service_fee_usd', 'toll_amount_local', 'toll_amount_usd',
       'booking_fee_local', 'booking_fee_usd', 'earnings_boost_local',
       'earnings_boost_usd', 'is_on_time', 'long_distance_surcharge_local',
       'long_distance_surcharge_usd', 'guaranteed_surge_multiplier',
       'is_directed_dispatch_trip'],
      dtype='object')

In [72]:
driver_lifetime[columns_to_drop_unique].isna().sum()

city_id                             0
currency_code                       0
timezone                            0
flow                                2
source_tag                       2308
has_destination                     0
is_pool_matched                     0
is_flat_rate                        0
is_wait_time_eligible               0
rewindtrip_timestamp_local       2309
rewindtrip_timestamp_utc         2309
rounding_down_amount_local        199
rounding_down_amount_usd          199
concierge_source_type            2309
cancellation_type                2266
is_directed_dispatch_trip           0
city_id                             0
currency_code                       0
timezone                            0
has_destination                     0
is_pool_matched                     0
is_flat_rate                        0
is_wait_time_eligible               0
service_fee_local                2310
service_fee_usd                  2310
toll_amount_local                2310
toll_amount_usd                  2310
booking_fee_local                2310
booking_fee_usd                  2310
earnings_boost_local             2310
earnings_boost_usd               2310
is_on_time                       2310
long_distance_surcharge_local    2310
long_distance_surcharge_usd      2310
guaranteed_surge_multiplier      2310
is_directed_dispatch_trip           0
dtype: int64

In [73]:
driver_lifetime.drop(columns=columns_to_drop_unique, inplace=True)

In [74]:
driver_lifetime.shape

(2310, 60)

In [77]:
# Suppression des colonnes en double (unités de mesures)

chaîne = 'utc|usd'
columns_to_drop_doublon = driver_lifetime.filter(regex=chaîne).columns

In [78]:
columns_to_drop_doublon

Index(['request_timestamp_utc', 'begintrip_timestamp_utc',
       'dropoff_timestamp_utc', 'promotion_usd', 'credits_usd',
       'driver_upfront_fare_usd', 'original_fare_usd', 'base_fare_usd',
       'surge_fare_usd', 'minimum_fare_roundup_usd', 'per_mile_fare_usd',
       'per_minute_fare_usd', 'cancellation_fee_usd', 'wait_time_fare_usd'],
      dtype='object')

In [79]:
driver_lifetime.drop(columns=columns_to_drop_doublon, inplace=True)

In [82]:
driver_lifetime.shape

(2310, 46)

In [81]:
driver_lifetime.isna().sum()

uuid                                    0
vehicle_uuid                            0
product_type_name                       0
global_product_name                     0
request_timestamp_local                 0
begintrip_timestamp_local             198
dropoff_timestamp_local               201
eta                                    13
surge_multiplier                        0
is_surged                               0
is_star_power                           0
request_to_begin_distance_miles        13
request_to_begin_duration_seconds     198
trip_distance_miles                     0
trip_duration_seconds                   0
status                                  0
is_completed                            0
is_cash_trip                            0
is_rewindtrip                           0
promotion_local                      2273
credits_local                        2303
has_driver_upfront_fare                 0
driver_upfront_fare_local             336
original_fare_local                     0
base_fare_local                       199
surge_fare_local                      200
minimum_fare_roundup_local           2304
per_mile_fare_local                   199
per_minute_fare_local                 199
cancellation_fee_local                  0
fare_distance_miles                   199
fare_duration_minutes                 199
request_date_id_local                   0
driver_trip_number                    201
wait_time_fare_local                 2186
commission_rate                        13
driver_cancellation_reason           2268
vehicle_trip_number                   201
is_multidestination                     0
driver_surge_multiplier                 0
ufp_type                               12
carrier_mcc                           164
carrier_mnc                           164
wait_duration_minutes                2186
is_scheduled_trip                       0
is_airport_trip                         0
dtype: int64

In [88]:
driver_lifetime.credits_local.value_counts(dropna=False)

NaN     2303
7.20       3
6.00       2
1.00       1
0.93       1
Name: credits_local, dtype: int64

In [6]:
Driver_Payments

,city_id,amount_local,currency_code,classification,category,recognize_timestamp_local
0,3,17.72,EUR,transport.fare.driver_upfront_fare,driver_payment_fares,2022-02-02 19:29:37
1,3,-4.43,EUR,intermediary.commission,commission,2022-02-02 19:29:37
2,3,1.63,EUR,transport.tax.vat,tax,2022-02-02 19:29:37
3,3,-1.63,EUR,transport.tax.vat,tax,2022-02-02 19:29:37
4,3,-5.07,EUR,intermediary.commission,commission,2022-02-02 18:29:26
...,...,...,...,...,...,...
9464,3,-1.31,EUR,transport.tax.vat,tax,2020-08-22 23:17:34
9465,3,23.61,EUR,transport.fare.driver_upfront_fare,driver_payment_fares,2020-08-22 22:20:27
9466,3,-2.15,EUR,transport.tax.vat,tax,2020-08-22 22:20:27
9467,3,2.15,EUR,transport.tax.vat,tax,2020-08-22 22:20:27
9468,3,-5.90,EUR,intermediary.commission,commission,2020-08-22 22:20:27

In [21]:
pay = Driver_Payments.copy()
pay.drop(["city_id", "currency_code", "classification","category"], axis=1, inplace=True)
pay.head(20)

    amount_local recognize_timestamp_local
0          17.72       2022-02-02 19:29:37
1          -4.43       2022-02-02 19:29:37
2           1.63       2022-02-02 19:29:37
3          -1.63       2022-02-02 19:29:37
4          -5.07       2022-02-02 18:29:26
5           2.00       2022-02-02 18:29:26
6           1.84       2022-02-02 18:29:26
7          20.28       2022-02-02 18:29:26
8          -1.84       2022-02-02 18:29:26
9          -2.45       2022-02-02 14:21:19
10          4.45       2022-02-02 14:21:19
11          5.34       2022-02-02 14:21:19
12         -0.90       2022-02-02 14:21:19
13          0.90       2022-02-02 14:21:19
14         18.53       2022-01-31 17:30:04
15         -1.70       2022-01-31 17:30:04
16         -4.63       2022-01-31 17:30:04
17          1.70       2022-01-31 17:30:04
18         -3.34       2022-01-31 16:30:40
19         11.74       2022-01-31 16:30:40

In [18]:
pay.to_csv('out.csv')

In [22]:
gp_pay = pay.groupby(["recognize_timestamp_local"]).sum()
gp_pay.reset_index(inplace=True)
gp_pay.rename(columns={'recognize_timestamp_local': 'timestamp'},
          inplace=True, errors='raise')

In [23]:
gp_pay.to_csv('out.csv')

In [10]:
gp_pay.timestamp = pd.to_datetime(gp_pay.timestamp)

In [10]:
#gp_pay.index = pd.to_datetime(gp_pay.index)

In [11]:
gp_pay["time2"] = gp_pay.timestamp + pd.Timedelta(hours=4)

In [12]:
gp_pay.to_csv('out.csv')

               timestamp  amount_local               time2
0    2020-08-22 22:20:27         17.71 2020-08-23 02:20:27
1    2020-08-22 23:17:34         11.81 2020-08-23 03:17:34
2    2020-08-23 00:05:50          4.50 2020-08-23 04:05:50
3    2020-08-23 00:17:10          4.67 2020-08-23 04:17:10
4    2020-08-23 00:40:12         12.83 2020-08-23 04:40:12
...                  ...           ...                 ...
2140 2022-01-31 16:30:40         27.58 2022-01-31 20:30:40
2141 2022-01-31 17:30:04         13.90 2022-01-31 21:30:04
2142 2022-02-02 14:21:19          7.34 2022-02-02 18:21:19
2143 2022-02-02 18:29:26         17.21 2022-02-02 22:29:26
2144 2022-02-02 19:29:37         13.29 2022-02-02 23:29:37

[2145 rows x 3 columns]

In [15]:
gp_pay["Day"] = gp_pay.time2.dt.day_name()
gp_pay["Month"] = gp_pay.timestamp.dt.month_name()
gp_pay['Hour'] = gp_pay.timestamp.dt.hour
gp_pay['Year'] = gp_pay.timestamp.dt.year

In [16]:
gp_pay

               timestamp  amount_local        Day     Month  Hour  Year
0    2020-08-22 22:20:27         17.71   Saturday    August    22  2020
1    2020-08-22 23:17:34         11.81   Saturday    August    23  2020
2    2020-08-23 00:05:50          4.50     Sunday    August     0  2020
3    2020-08-23 00:17:10          4.67     Sunday    August     0  2020
4    2020-08-23 00:40:12         12.83     Sunday    August     0  2020
...                  ...           ...        ...       ...   ...   ...
2140 2022-01-31 16:30:40         27.58     Monday   January    16  2022
2141 2022-01-31 17:30:04         13.90     Monday   January    17  2022
2142 2022-02-02 14:21:19          7.34  Wednesday  February    14  2022
2143 2022-02-02 18:29:26         17.21  Wednesday  February    18  2022
2144 2022-02-02 19:29:37         13.29  Wednesday  February    19  2022

[2145 rows x 6 columns]

In [15]:
gp_pay.groupby([pd.Grouper(key='time2', freq='W-MON')])['amount_local'].sum()

time2
2020-08-24     212.90
2020-08-31     884.51
2020-09-07    1125.94
2020-09-14     928.26
2020-09-21     789.17
               ...
2022-01-10     772.92
2022-01-17     777.72
2022-01-24     491.74
2022-01-31     660.19
2022-02-07      37.84
Freq: W-MON, Name: amount_local, Length: 77, dtype: float64

In [63]:
gp_pay.groupby([pd.Grouper(key='timestamp', freq='D')])['amount_local'].sum()

timestamp
2020-08-22     29.52
2020-08-23    169.29
2020-08-24     14.09
2020-08-25     34.78
2020-08-26    127.93
               ...
2022-01-29     94.56
2022-01-30     17.36
2022-01-31    107.93
2022-02-01      0.00
2022-02-02     37.84
Freq: D, Name: amount_local, Length: 530, dtype: float64

In [16]:
gp_pay

               timestamp  amount_local               time2
0    2020-08-22 22:20:27         17.71 2020-08-23 02:20:27
1    2020-08-22 23:17:34         11.81 2020-08-23 03:17:34
2    2020-08-23 00:05:50          4.50 2020-08-23 04:05:50
3    2020-08-23 00:17:10          4.67 2020-08-23 04:17:10
4    2020-08-23 00:40:12         12.83 2020-08-23 04:40:12
...                  ...           ...                 ...
2140 2022-01-31 16:30:40         27.58 2022-01-31 20:30:40
2141 2022-01-31 17:30:04         13.90 2022-01-31 21:30:04
2142 2022-02-02 14:21:19          7.34 2022-02-02 18:21:19
2143 2022-02-02 18:29:26         17.21 2022-02-02 22:29:26
2144 2022-02-02 19:29:37         13.29 2022-02-02 23:29:37

[2145 rows x 3 columns]